header {
  background-color: black;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
}

.cartBadge {
  width: 19px;
  height: 19px;
  font-size: 11px;
  border-radius: 50%;
  background: #ffffff;
  color: #ffc500;
  position: absolute;
  right: -13px;
  top: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
